{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
	<h1>Program: {{results.0.program_name}}</h1>
	<h2>Level: {{results.0.program_level}}</h2>
	<table>
		<tr>
			<th>Course Code</th>
			<th>Course Name</th>
			<th>Credit Hours</th>
			<th>Prerequisite Course Code</th>

		</tr>
		{%set pre = 0%}
		{%for result in results%}
			
			{%if pre != 0 %}
				{%if pre != result.course_code%}
					</td>
				

				</tr>
				{%endif%}
			{%endif%}
			
			{%if pre != result.course_code%}
			<tr>
				<td>{{result.course_code}}</td>
				<td>{{result.course_name}}</td>
				<td>{{result.credit_hours}}</td>
				<td ><span title='{{result.prerequisite}}'>{{result.prereq_code}}</span>
			{%else%}
					, <span title='{{result.prerequisite}}'>{{result.prereq_code}}</span>
					
			{%endif%}
			
			{%set pre = result.course_code%}
		{%endfor%}
	</table>
{% endblock %}

{% block final %}
	<script src="/js/script.js"></script>
{% endblock %}
