.bg-white {
    background-color: #fff;
}

.error {
    color: #f00;
}

.white {
    color: #fff;
}

/* Responsive design settings */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* MOBILE LAST */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}


/* styles for printing */

@media print {
    .navbar, footer {
        display: none;
    }
    
}