{% extends "base.html" %}

{% block title %}Inbox{% endblock %}

{% block body %}
<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" {% if user.profile_picture != null %}src="{{ user.profile_picture }}"{% else %}src="/img/avatar-1.png"{% endif %} class="online" alt="" />
				<p>{{ user.user_id }}</p>
				<!--<i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>-->
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
					
				</div>
				<a class="view-message new-icon" href="/Messages/new"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ></i></a>
				<!--<div id="expanded">
					<label for="twitter"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mikeross" />
					<label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="ross81" />
					<label for="twitter"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
					<input name="twitter" type="text" value="mike.ross" />
				</div>-->
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				
				{% for msg in messages %}					
					<li id="{{msg.id}}" class="contact">
						<a class="view-message" href="/Messages/viewConversation&amp;view_conversation={{msg.id}}&amp;subject={{msg.subject}}">
							<div class="wrap">
								<img src="/img/avatar-1.png" alt="user image here" />
								<div class="meta">
									<p class="name {% if msg.unread == 1 %}unread{% endif %}">{{msg.subject}} {{msg.f_name}}
									</p>
									<p class="preview"><span>{{msg.conversation_id}}{{msg.last_reply | date('M d Y h:i:s a')}}</span></p>					
								</div>
							</div>
						</a>
						<a class="view-message close-icon" href="/Messages/deleteConversation&amp; delete_conversation={{msg.id}}"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
					</li>					
				{% endfor %}
			</ul>
		</div>
	</div>
	
	<div class="content">
		{% block messages %}
		<div class="contact-profile">
			<img {% if user.profile_picture != null %}src="{{ user.profile_picture }}"{% else %}src="/img/avatar-1.png"{% endif %} alt="" />
			<p>{{subject}}</p>
		</div>

		<div class="messages">			
			<ul>
				{% for messages in allMessages %}
					{% if messages.username == user.f_name %}
						<li class="replies">
							<img {% if user.profile_picture != null %}src="{{ user.profile_picture }}"{% else %}src="/img/avatar-1.png"{% endif %} alt="" />
							<p><span>{{messages.text}} </span> <span class="date">{{messages.username}} {{ messages.date | date('h:i a')}}</span></p>
						</li>
						{% else %}
						<li class="sent">
							<img {% if messages.profile_picture != null %}src="{{ messages.profile_picture }}"{% else %}src="/img/avatar-1.png"{% endif %} alt="" />
							<p><span>{{messages.text}}</span> <span class="date">{{messages.username}} {{ messages.date | date('h:i a')}}</span></p>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
				<form action="/Messages/addMessage&amp;view_conversation={{id}}&amp;subject={{subject}}" method="post">	
					<input type="text" name="reply" placeholder="Write your message..." />
					<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
					<button type="submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
				</form>
			
			</div>
		</div>
		{% endblock %}
	
	</div>
</div>

{% endblock %}

{% block final %}
<script>
	{% for msg in messages %}
		$('#{{msg.id}}').click(function(){
			$(this).addClass( "active" );
			$(this).siblings().removeClass("active");
		});
	{% endfor %}
	
$('.messages').scrollTop($('.messages')[0].scrollHeight);
$(".messages").animate({ scrollTop: $(document).height() }, "fast");

$("#profile-img").click(function() {
	$("#status-options").toggleClass("active");
});

$(".expand-button").click(function() {
  $("#profile").toggleClass("expanded");
	$("#contacts").toggleClass("expanded");
});

$("#status-options ul li").click(function() {
	$("#profile-img").removeClass();
	$("#status-online").removeClass("active");
	$("#status-away").removeClass("active");
	$("#status-busy").removeClass("active");
	$("#status-offline").removeClass("active");
	$(this).addClass("active");
	
	if($("#status-online").hasClass("active")) {
		$("#profile-img").addClass("online");
	} else if ($("#status-away").hasClass("active")) {
		$("#profile-img").addClass("away");
	} else if ($("#status-busy").hasClass("active")) {
		$("#profile-img").addClass("busy");
	} else if ($("#status-offline").hasClass("active")) {
		$("#profile-img").addClass("offline");
	} else {
		$("#profile-img").removeClass();
	};
	
	$("#status-options").removeClass("active");
});
</script>
{% endblock %}