{% extends "base.html" %}

{% block title %}Add Account{% endblock %}

{% block body %}
    <h1 class="text-center">Add user content</h1>
	<div class="col-lg-6">
		<div class="card">
			<div class="card-header d-flex align-items-center">
				<h4>Add user</h4>
			</div>
            <div class="card-body">
            	<form method="post" action="/home/create" id="formLogin">
					<div class="form-group">
                    	<label>User Id</label>
                      	<input type="text" id="inputusername" class="form-control" placeholder="User Id" name="user_id" value="{{user_id}}">
						<small class="error-holder"></small>
                    </div>
					<div class="form-group">
                    	<label>Email</label>
                      	<input type="text" id="email" class="form-control" placeholder="User Id" name="email" value="{{email}}">
						<small class="error-holder"></small>
                    </div>
                    <div class="form-group">       
                      	<label>Password</label>
                      	<input type="password" id="inputpassword" placeholder="Password" class="form-control" name="pword" >
						<small class="error-holder"></small>
                    </div>
					<div class="col-sm-5 mb-4">
                        <select id="role" name="role" class="form-control">
                          	<option value="">Select one</option>
							<option value="Admin">Admin</option>
							<option value="Advisor">Advisor</option>
							<option value="Student">Student</option>
                        </select>
						<small class="error-holder"></small>
                      </div>			
                    <div class="form-group">       
                    	<input type="submit" value="Add User" class="btn btn-primary">
                    </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}