{% extends "base.html" %}
{% block title %}Advisement{% endblock %}

{#
    actions for advisor:

        view and link to all student's advisement associated to advisor through their advisement
        view and link to all student's advisement associated to advisor through their dept

#}


{% block body %}
    <h1 class="text-center">Student List</h1>
    <div>
        <input type="textbox" id="search-for"> 
        <button id="on-search-for">search</button>
        <button id="on-revert">revert</button>
    </div>

    {% for s in dept_list %}
        <div class="card adv {{s.student}} {{s.stu_fname|lower}} {{s.stu_lname|lower}}">
            <div class="card-body">
                <p>
                    <a href="/advisements/{{s.student}}/view">{{s.student}}, {{s.stu_fname}} {{s.stu_lname}}</a>
                    {% if s.is_dirty %}
                        <span data-toggle="tooltip" data-placement="top" title="Changes have been made to this advisement" class="badge badge-danger">!</span>
                    {% endif %}
                    {% if s.advisor == user.user_id %}
                        <span data-toggle="tooltip" data-placement="top" title="Student's advisement belongs to you." class="badge badge-success">owned</span>
                    {% endif %}
                </p>
            </div>
        </div>
            
    {% endfor %}



{% endblock %}

{% block final %}
    <script>
        $(document).ready(function() {
            
            // toggle the tooltips (bootstrap)
            $('[data-toggle="tooltip"]').tooltip();
            
            
            // search for button, only shows links for input
            $('#on-search-for').click(function() {
                val = '.' + $('#search-for').val().toLowerCase();
                $('.adv').hide();
                $(val).show();
                console.log('search...');
            });
            
            // revert button, shows all content
            $('#on-revert').click(function() {
                $('.adv').show();
                
                console.log('revert...');
            });
            
            
        }); // end document ready
    </script>

{% endblock %}